body{
    margin:0px;
    padding: 0px;
    font-family: calibri;
}
*{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.main{
    width:100%;
    height:100vh;
    background-position: top left;
    position: relative;
    /*background-color: #F2F2F2;*/
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 30px;
    background-color:#fff;
    box-shadow: 2px 2px 20px rgba(90,118,253,0.13);
    z-index: 1;
    width:100%;
    position: fixed;
    left: 0px;
    top: 0px;
}
nav ul{
    display: flex;
    margin:0px;
    padding: 0px;
}
nav ul li a{
    height:40px;
    line-height: 43px;
    margin: 8px;
    padding: 0px 22px;
    display: flex;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 400;
    color:#111;
    letter-spacing: 1px;
}
nav ul li a:hover{
    background-color: #5a76fd;
    color:#fff;
    box-shadow: 5px 10px 30px rgba(90,118,253,0.5);
    transition: all ease 0.2s;
}
.home-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    width:90%;
 
}
.home-img{
    width:500px;
    height:400px;
    margin:20px;
}
.home-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.home-text{
    width:500px;
    margin:20px;
}
.home-text h1{
    font-size: 3.5rem;
    line-height: 55px;
    color:#22252e;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0px;
}
.home-text p{
    font-size: 20px;
    color:#777474;
    animation-duration: 3s;
    animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-left: 50%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
.main-login{
    width:120px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5a76fd;
    color:#fff;
    box-shadow: 5px 10px 30px rgba(90,118,253,0.5);
    text-transform: uppercase;
    border-radius: 5em;
}
.main-login:hover{
    background-color: #5a62fd;
    transition: all ease 0.3s;
}
/*.timing{
    position: absolute;
    left:20%;
    bottom: 10px;
    transform: translateX(-20%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.office-time,
.office-number{
    margin: 0px 20px;
}
.office-time h3,
.office-number h3{
    font-weight: 700;
    color:#22252e;
    font-size: 1.6rem;
    margin: 0px;
}
.office-number p,
.office-time p{
    color:#777474;
    font-size: 1.1rem;
}
.office-time font,
.office-number font{
    color:#7b92fd;
    font-weight: 700;
}*/
/*.arrow{
    align-self: end;
    width:50%;
    border-right: 1px solid #5a76fd;
    height: 20%;
    margin-bottom:4em ;
    position: absolute;
    bottom: 5px;
    right: 70px;
    animation: arrow-animation ease 1.5s;
 
}
.arrow::after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 11px 11px 0px 11px;
    border-color: #5a76fd transparent transparent transparent;
    right: -0.7em;
    bottom: -2px;
}
.scroll{
    position: absolute;
    bottom: 20px;
    right:55px;
    font-weight: 600;
}
@keyframes arrow-animation{
    0%{
        bottom: 70px;
        opacity: 0.2;
    }
    100%{
        bottom: 5px;
        opacity: 1;
    }
}*/

nav .menu-btn{
    display: none;
}

.services{
    /*background-image:url("../images/poduct\ bg.png");*/
    background-size: 1000px;
    background-position: center;
    background-color: #F2F2F2;
}
.services-heading{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.services-heading h2{
    line-height: 55px;
    font-size: 2.2rem;
    color:#22252e;
    letter-spacing: 1px;
    font-weight: 700;
    margin-top: 20px;
}
.services-heading p{
    font-size: 1rem;
    color:#777474;
    width:50%;
    margin-top: auto;
}
.box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px 60px;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:300px;
    height: 400px;
    text-align: center;
    box-shadow: 2px 2px 30px rgba(90,118,253,0.15);
    border-radius: 10px;
    background-color: #fff;
    margin: 20px;
    flex-grow: 1;
}
.box img{
    height:150px;
    margin:10px;
}
.box font{
    font-size: 1.5rem;
    color: #22252e;
    letter-spacing: 1px;
    font-weight: 700;
}
.box p{
    font-size: 1rem;
    color: #777474;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
}
.box a{
    width:150px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #5a76fd;
    text-transform: uppercase;
    margin: auto;
    border-radius: 5px;
    font-weight: 600;
    font-size: 0.9rem;
    color:#5a76fd;
    margin:0px;
}
.box a:hover{
    background-color: #5a76fd;
    color:#fff;
    box-shadow: 5px 10px 30px rgba(90,118,253,0.5);
    transition: all ease 0.3s;
}
.kontak{
    /*background-image:url("../images/poduct\ bg.png");*/
    background-size: 1000px;
    background-position: center;
    position: relative;
}
.kontak-heading{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.kontak-heading h2{
    line-height: 55px;
    font-size: 2.2rem;
    color:#22252e;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0px;
}
.kontak-heading p{
    font-size: 1rem;
    color:#777474;
    width:50%;
}
.kontak-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 45%;
    height: 100%;
  }

input, textarea {
    width: 100%;
    padding: 0.6em;
    margin-bottom: 1.5em;
    border-radius: .3em;
    border: 1px solid gray;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

label{
    display: block;
    font-size: 1.2em;
    margin-bottom: .5em;
}

footer{
    width:100%;
    display: ;
    justify-content:;
    align-items: ;
    padding: 0px 5%;
    border-top: 1px solid rgba(167,167,167,0.2);
}

.footer a{
    color:#5e5e5e;
}
.footer div{
    float:left;
    border:;
    min-width:33%;
    font-size:12px;
}
.footer ul{
    padding-left: 0px;
}
.footer li{
    list-style: none
}

@media (max-width:1100px){
    nav{
        justify-content: space-between;
        height: 65px;
    }
    .menu{
        display: none;
        position: absolute;
        top: 65px;
        left: 0px;
        background-color: #fff;
        border-bottom: 4px solid #5a76fd;
        width:100%;
    }
    .menu li{
        width:100%;
    }
    nav .menu li a{
        width:100%;
        height: 40px;
        justify-content: center;
        align-items: center;
        margin:0px;
        padding: 25px;
        border:1px solid rgba(38,38,38,0.03);
    }
    nav .menu-icon{
        cursor: pointer;
        float: right;
        padding: 28px 20px;
        position: relative;
        user-select: none;
    }
    nav .menu-icon .nav-icon{
        background-color: #333333;
        display: block;
        height: 2px;
        position: relative;
        transition: background 0.2s ease-out;
        width:18px;
    }
    nav .menu-icon .nav-icon:before,
    nav .menu-icon .nav-icon:after{
        background: #333333;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all ease-out 0.2s;
        width:100%;
    }
    nav .menu-icon .nav-icon:before{
        top: 5px;
    }
    nav .menu-icon .nav-icon:after{
        top:-5px;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon{
        background: transparent;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
        transform: rotate(-45deg);
        top: 0;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon:after{
        transform: rotate(45deg);
        top: 0;
    }
    nav .menu-btn{
        display: none;
    }
    nav .menu-btn:checked ~ .menu{
        display: block;
    }
    /*.arrow{
        height: 70px;
    }
    .arrow,.scroll{
       bottom: 40px;
    }*/

   /*.container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 1100px;
        margin: 0 auto;
        background-color: blue;
    }*/
    /*.container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        
    }*/
}

/*@media(max-width:1100px){
    .container {
        width: 1100px;
        margin: 0 auto;
    }
    .services .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}*/

@media (max-width:720px){
    .home-text p{
        width:70%;
        text-align: center;
    }
    /*.arrow,.scroll{
        display: none;
    }*/
    .home-content h1{
        font-size: 1.9rem;
        padding: 10px 10px;
        line-height: 30px;
    }
    .timing{
        width: 100%;
        flex-wrap: wrap;
       margin: 0px;
        padding: 0px 20px;
    }
    .services-heading{
        margin:20px;

    }
    .services-heading h2{
        font-size: 30px;
        line-height: 40px;
    }
    .services-heading p{
        width:100%;
    }
    .box{
        width:100%;
        margin: 20px 0px !important;
        padding: 0px 20px;
        flex-grow: 1;
    }
    .box img{
        height: 100px;
        width:100%;
        object-fit: contain;
    }
    .kontak-heading{
        margin:20px;
    }
    .kontak-heading h2{
        font-size: 30px;
        line-height: 40px;
    }
    .kontak-heading p{
        width:100%;
    }
    
    /*.container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 1100px;
        margin: 0 auto;
        background-color: blue;
    }*/
}
